<br/>

<div class="section-colored text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>Modern Business: A Clean &amp; Simple Full Website Template by Start Bootstrap</h2>
        <p>A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.</p>

      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div>
