
<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit clearfix">
    <div class="pull-left span5">
      <h1>Welcome to <%= APPLICATION_NAME %></h1>
      <p>A one stop resource for web designers and developers</p>
      <p><a class="btn btn-primary btn-large">Explore our articles</a></p>
    </div>
    <div class="pull-right">
      <form class="well">
        <label>Username</label>
        <input type="text" class="span3" placeholder="Type your username">
        <label>Password</label>
        <input type="password" class="span3" placeholder="Type your password">
        <label class="checkbox">
          <input type="checkbox">Remember me
        </label>
        <button type="submit" class="btn btn-primary">Log me in</button>
      </form>
    </div>
  </div>



  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-success" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-success" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-success" href="#">View details &raquo;</a></p>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="span4">
      <div class="thumbnail">
        <%= image_tag "370x180.gif" %>
        <div class="caption">
          <h5>Thumbnail label</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-primary" href="#">Action</a> <a class="btn btn-success" href="#">Action</a></p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="thumbnail">
        <%= image_tag "370x180.gif" %>
        <div class="caption">
          <h5>Thumbnail label</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-primary" href="#">Action</a> <a class="btn btn-success" href="#">Action</a></p>
        </div>
      </div>
    </div>
    <div class="span4">
      <a class="thumbnail" href="#">
        <%= image_tag "370x300.gif" %>
      </a>
    </div>
  </div>





</div> <!-- /container -->





