<h2><%= t(:editing, :default => 'Editing') %> <%= t('app.models.policy.bs_caption', :default => 'policy') %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), policies_path, :class => "btn" %>